$primary-color: #ffefe7;
$secundary-color: #ffdac6;
$tertiary-color: #babd8d;
$primary-text-color: #7c6a0a;
$font-stack: "IBM Plex Sans", sans-serif;
$paragraph-size: 1.5em;
$backgroun-color: #fa9500;


@mixin flexCenter ($direction, $content, $aling){
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $aling;
}

@mixin buttonStyle {
  button {
    background: none;
    border-style: none;
    cursor: pointer;
     &:hover {
        transform: scale(1.1);
        transition-duration: 0.2s;
      }
  }
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: $primary-color;
  font-family: $font-stack;
}

nav {
  width: auto;
  @include flexCenter(row, space-between, center );
  color: $primary-text-color;
  padding: 15px;
  

  p {
    font-size: $paragraph-size;
    padding-left: 30px;
    cursor: pointer;
    a {
      text-decoration: none;
      color: $primary-text-color;
    }
  }

  .icons {
    display: flex;
    @include buttonStyle;
    
  }
}

article {
  width: auto;
  color: $primary-text-color;
  padding-left: 50px;
  padding-right: 50px;
  @include flexCenter(row, space-between, center );
  padding-top: 70px;
  
  .impact-section {
    @include flexCenter(column, space-evenly, flex-start);
    margin-top: 50px;
    gap: 25px;
  }

  h1 {
    font-size: 3em;
    padding: 0px;
    margin: 0px;
  }
  p {
    font-size: $paragraph-size;
  }

  @include buttonStyle;
  button {
    cursor: pointer;
    width: 12vw;
    padding: 20px;
    background-color: $backgroun-color;
    border-radius: 35px;
    color: white;
    font-size: 1em;
      &:hover {
        transform: scale(1.1);
        transition-duration: 0.3s;
      }
  }

  img {
    width: 25vw;
    border-radius: 19px;
  }
}

section {
  width: auto;
  height: auto;
  padding: 60px;

  h2 {
    color: $primary-text-color;
    font-size: 2em;
  }

  .healthcare {
    padding-bottom: 60px;

    h2 {
      font-weight: 300;
      padding-bottom: 60px;
    }

    .card-section {
      width: auto;
      height: auto;
      @include flexCenter(row, space-evenly ,center);
      flex-wrap: wrap;
      column-gap: 200px;
      row-gap: 80px;
    }
    .product-card {
      width: 14vw;
      height: 45vh;
      background-color: $secundary-color;
      color: $primary-text-color;
      padding: 20px;
      border-radius: 8px;

      .icon {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 15px;
        svg {
          width: 28px;
          height: 28px;
        }
      }

      .product-image {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 12vw;
          height: 30vh;
          object-fit: cover;
          border-radius: 6px;
        }
      }
    }
  }
  .furniture {
    @extend .healthcare; //herencia se agregaron los estilos de la clase
    .product-card {
      background: $tertiary-color;
      color: white;
    }
  }
}

.about-us {
  padding-bottom: 60px;
  h2 {
    font-weight: bold;
    padding-bottom: 60px;
  }
  .mision-section {
    @include flexCenter(row, space-evenly, center );
    .earth {
      width: 30vw;
      display: flex;
      gap: 40px;
      color: #e86424;

      img {
        object-fit: cover;
      }

      p {
        text-align: center;
        text-justify: inter-word;
        font-size: $paragraph-size;
      }
    }
  }

  .innovation {
    @extend .earth;
  }

}

.gallery {
  h2 {
    font-weight: bold;
    padding-bottom: 60px;
  }
  .gallery-images {
    @include flexCenter(row, space-between , center );
    img {
      width: 28vw;
      height: 45vh;
      object-fit: cover;
      object-position: 5px 35%;
      border-radius: 16px;
      &:hover {
        transform: scale(1.1);
        transition-duration: 0.6s;
      }
    }
  }
}

.location {
  color: $backgroun-color;
  h2 {
    
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .maps {
    @include flexCenter(row, center, center );
    padding-bottom: 50px;

  }
  h3, p {
    font-size: $paragraph-size;
    padding-left: 240px;
  }

}

footer {
  background-color: $backgroun-color;
  width: 100%;
  height: auto;
  padding: 40px;
  color: #fff;

  .social-media {
  
    @include flexCenter(row, center, center );
    gap: 40px;
    padding-bottom: 40px;
    
  }

  img {
    cursor: pointer;
  }
}

